<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
        <li class="list-group-item clearfix  list-group-item-action d-flex justify-content-between align-items-center" *ngFor="let item of recipes">
       <div>
            <h6 class=" ">{{item.name}}</h6>
            <p class="">{{item.description}}</p>
      
        </div>
            
        <div>
          
        
               <img [src]="item.image" alt="" class="img-responsive d-flex align-self-start" style="max-height: 75px;">
            </div>
        </li>
    </ul>
                </div>
            </div>



